/*Título da página*/
.TituloServiços{
    color: #DCA151;
    text-shadow: 2px 1px 2px;
    justify-content: center;
    margin-top: 130px;
    font-size: 40px;
}

main {
    width: 100%;
}

.principal {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.Retângulo{
    min-height: 450px;
    width: 15px;
    border: solid 1px #26384C;
    background-color: #26384C;
    box-shadow: 1px 1px 3px 1px #000000;
    margin-left: 10px;
}

p{
    font-size: 20px;
    color: #26384C;
    padding-top: 30px;
    margin: 0px 40px 30px 20px; 
}

.ImagemAmbienteDoServiço{
    width: 700px;
    aspect-ratio: 5 / 4;
    background-color: #26384C;
    border: solid 5px #26384C;
    border-radius: 15px;
    box-shadow: 1px 3px 2px #DCA151;
    margin-right: 50px;
}   

.mapa{
    border: 5px solid #26384C;
    box-shadow: 1px 3px 2px#DCA151;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

/*Links do Final da página*/

.FinalDaPágina{
    background-color: #26384C;
    padding: 30px;
    margin-top: 20px;
    position: relative;
    justify-content: center;
}

.linkFinalDaPag{
    text-decoration: none;
    color: #DCA151;
    position: flex;
    margin-right: 65px;
    font-size: 25px;
}


/*Ajuste para celulares*/

@media (max-width: 1222px) {
    .Retângulo {
        display: none;
    }

    .ImagemAmbienteDoServiço {
        margin: 0;
    }

    .principal {
        flex-direction: column-reverse;
    }

    p {
        margin: 30px;
    }
}

@media (max-width: 750px) {

    .ImagemAmbienteDoServiço {
        width: 500px;
        margin: 0;
    }

    p {
        margin: 30px;
    }
}

@media (max-width: 450px) {
    .ImagemAmbienteDoServiço {
        width: 300px;
    }
}