/* MAIN */

/* Imagem de fundo */
.banner {
    min-height: 600px;
    width: 100%;
    background-image: url(../Imagens/Salão\ foto.jpg);
    background-repeat: no-repeat;
    filter: blur();
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    
/* para que possa permitir aplicar o blur na imagem sem afetar os outros elementos */

.banner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 601px;
    background-position: center;
    background-image: inherit;  
    background-size: cover;
    filter: blur(2px);
    z-index: -1;
}

/* .bemvindo é uma div que tem outras 2 divs para facilitar a estilização */

.bemvindo {
    /* background-color: blue; */
    width: 70%;
    min-height: 160px;
    display: flex;
    align-items: center;
}

.Retangulo{
    height: 160px;
    width: 10px;
    border: solid 1px #26384C;
    background-color: #26384C;
    box-shadow: 1px 1px 3px 1px #000000;
    z-index: 3;
    margin-right: 10px;
}

.titulo {
    font-size: 20px;
    text-shadow: 2px 1px 2px #818181;
    font-family: sans-serif;
}

.titulo h1 {
    color: var(--cor-titulo);
    margin-left: 15px;
}

.titulo p {
    text-shadow: 1px 1px 4px #383838;
    color: var(--cor-texto);
    font-size: 25px;
    margin-top: 30px;
    margin-left: 15px;
}

/* apenas um o h1 */

.sobremim h1 {
    padding: 25px 0 25px 0;
    text-align: center;
    margin: 0;
    width: 100%;
    background-color: var(--cor-texto);
    color: var(--cor-titulo);
}

/* .principal é uma div que contém 3 divs, dentro de cada div tem outro conteúdo que não será afetado pelo flex assim facilitando a estilização */

.principal {
    width: 100%;
    display: flex;
    align-items: center;
}

.retangulo2 {
    margin-right: 30px;
    margin-left: 30px;
    height: 300px;
    width: 60px;
    border: solid 1px #26384C;
    background-color: #26384C;
    box-shadow: 1px 1px 3px 1px #000000;
    margin-top: 30px;
}

.texto {
    align-items: center;
    display: flex;
    font-size: 23px;
}

.sobremimfoto {
    background-color: #26384C;
    border: 5px solid #26384C;
    box-shadow: 1px 4px 3px #DCA151;
    border-radius: 15px;
    width: 400px;
    aspect-ratio: 3 / 4;
    right: 60px;
    margin: 30px 4em 30px 4em;
}

/*Menu do Final da Página*/

.MenuFinal{
    background-color: #26384C;
    height: 80px;
    width: 100%;
    top: 1200px;
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.TextoMenuFinal{
    text-decoration: none;
    color: #DCA151;
    font-size: 25px;
    padding: 30px 30px 20px 30px;
    font-family: sans-serif;
}


@media (max-width: 1222px) {
    .menu {
        margin: 0;
        gap: 2em;

        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;

        flex-direction: column;
        padding: min(30vh, 10rem) 2em;

        background: hsl(0 0% 0% / .2);
        backdrop-filter: blur(4px);

        transform: translateX(100%);
        transition: transform 0.35s ease-out;
    }

    .menu[data-visible="true"] {
    transform: translateX(0%);
    }

    .botao-hamburguer {
        display: block;
        position: fixed;
        background-image: url(../Imagens/burguer_menu2.svg);
        background: cover;
        background-color: transparent;
        background-repeat: no-repeat;
        border: 0;
        width: 2rem;
        aspect-ratio: 1;
        top: 1rem;
        right: 3rem;
        z-index: 9999;
        transition: 0.5s;
        cursor: pointer;
    }

    .botao-hamburguer[aria-expanded="true"] {
        background-image: url(../Imagens/X.svg);
    }
    header {
        position: fixed;
    }

    .logo img {
        width: 80px;
    }
}

@media (max-width: 1100px) {
    .retangulo2 {
        display: none;
    }

    .principal {
        flex-direction: column;
    }

    .texto {
        margin: 10px 50px;
        line-height: 1.4;
    }

    footer {
        display: none;
    }
}

@media (max-width: 605px) {
    .menu li a {
        font-size: 21px;
    }

    footer {
        display: none;
    }
}

/* apenas uma class para esconder */
.is-hidden {
    display: none;
}

/* classe pra deixar invisivel para os usuarios mas não para os screen readers */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}